h1 {
    color: darkslateblue;
    border-style: solid;
    border-color: mediumvioletred;
    text-align: center;
    border-radius: 50%;
}

img {
    border-radius: 15%;
    border: darkslateblue;
    border-style: double;
    border-width: 10px;
}

.title {
    text-align: center;
    color: darkslateblue;
}

.Prince {
    text-align: center;
    color: darkslateblue;
}

h3 {
    color: darkslateblue;
}